<div class=" borderbox col-md-4">
  <div class="feature-box secundary">
    <div class="feature-box-icon">
      <img src="../../../assets/img/projects/project.jpg" class="img-responsive" alt="">
    </div>
    <div class="feature-box-info">
      <button type="submit" onclick="return confirm('You sure to delete @interview.Interviews.User.Name')" style="background-color:transparent;border: none;float:right">
        <i class="fa fa-trash-o" style="color:dodgerblue"></i>
      </button>
      <a href="index-2.html">
        <h4 class="shorter">Amel youssef</h4>
      </a>
      <p class="short">
        <span class="jopspan">Jop Name :</span> Developer</p>
      <p class="short">
        <span class="jopspan">Appointment : </span>12/6/2017 12:55 pm</p>
      <p class="short">
        <span class="jopspan">Statue :</span> pending</p>
      <p class="short">
        <i class="fa fa-pencil ">
          <a type="button" data-toggle="modal" data-target="#myModal">
            Start Interview</a>
        </i>
      </p>
    </div>
  </div>
</div>