<li class="col-md-3 col-sm-4 col-xs-6 isotope-item leadership product path-item">
  <span class="product-thumb-info">
    <a class="add-to-cart-product" name="deletePath" href="">
      <span>
        <i class="fa fa-5x fa-trash"></i>
      </span>

    </a>
    <span class="team-item thumbnail product-thumb-info-content">
      <a href='' class="thumb-info team">
        <img class="img-responsive" alt="" [src]='imgPath'>
        <span class="thumb-info-title">
          <span class="thumb-info-inner">{{name}}</span>
          <span class="thumb-info-type">{{requiredSkillsCount}} Skills</span>
        </span>
      </a>
      <span class="thumb-info-caption">
        <p>{{description}}</p>
      </span>
    </span>
  </span>
</li>