  
  a h4{
    color: #0088cc !important
  }
  
  .row >div.col-md-6{
    margin-bottom: 30px
  }
  
  .feature-box-info {
    margin-bottom: 15px;
}
.feature-box.secundary.bordered {
  border: 1.1px solid lightgrey;
  border-radius: 10px;
  padding: 16px 0px 0px 20px;
  min-height: 150px;
}
.col-md-4 {
  margin-bottom: 1%;
}
p{
    margin:0  2px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 17px;
    max-height: 50px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  p.short2{
    margin-top: -27px;
    margin-right: 90px;
      float: right;
  }