<p>
	login works!
</p>
<!DOCTYPE html>
<html>

<head>

	<!-- Basic -->
	<meta charset="utf-8">
	<title>Login | Porto - Responsive HTML5 Template 3.7.0</title>
	<meta name="keywords" content="HTML5 Template" />
	<meta name="description" content="Porto - Responsive HTML5 Template">
	<meta name="author" content="okler.net">


</head>

<body>

	<div class="body">

		<div role="main" class="main">

			<section class="page-top">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<ul class="breadcrumb">
								<li>
									<a href="#">Home</a>
								</li>
								<li class="active">Pages</li>
							</ul>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<h1>Login</h1>
						</div>
					</div>
				</div>
			</section>

			<div class="container">

				<div class="row">
					<div class="col-md-12">

						<div class="row featured-boxes login">
							<!-- login -->
							<div class="col-sm-4">
								<div class="featured-box featured-box-secundary default info-content">
									<div class="box-content">
										<h4>LogIn</h4>
										<form (ngSubmit)="onlogin()" [formGroup]="loginForm">
											<div class="row">
												<div class="form-group" >
													<div class="col-md-12" [ngClass]="{'has-error':email.invalid && (email.dirty || email.touched)}">
														<label for="email">Username or E-mail Address</label>
														<input formControlName="email" id="email" type="text" 
																name="userName" value="" 
																class="form-control input-lg" 
																[(ngModel)]="loginUser.eMail">
														<label *ngIf="email.invalid && (email.dirty || email.touched)"> check youer e-mail syntix</label>
														<!-- <label *ngIf="email.errors.required"> enter your e-mail</label> -->
													</div>
												</div>
											</div>
											<div class="row">
												<div class="form-group">
													<div class="col-md-12" [ngClass]="{'has-error':password.invalid && (password.dirty || password.touched)}">
														<a class="pull-right" href="#">(Lost Password?)</a>
														<label>Password</label>
														<input formControlName="password" type="password" name="password" value="" class="form-control input-lg" [(ngModel)]="loginUser.password">
														<label *ngIf="password.invalid && (password.dirty || password.touched)">least one lowercase, one uppercase and one number</label>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-md-6">
													<span class="remember-box checkbox">
														<label for="rememberme">
															<input type="checkbox" name="rememberme">Remember Me
														</label>
													</span>
												</div>
												<div class="col-md-6">
													<input type="submit" value="Login" class="btn btn-primary pull-right push-bottom" data-loading-text="Loading..." [disabled]="loginForm.invalid">
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>

			</div>

		</div>

	</div>

</body>

</html>

e-mail {{ loginUser.eMail | json}} <br/>
password {{ loginUser.password | json}} <br/>
password {{ password.value | json}} <br/>
<!-- touched {{txtUserName.touched}} <br/>
dirty {{txtUserName.dirty}} <br/>
valid {{txtUserName.valid}} -->