
  <app-interview-applicantitem></app-interview-applicantitem>
  <app-interview-applicantitem></app-interview-applicantitem>
  <app-interview-applicantitem></app-interview-applicantitem>

  <app-interview-applicantitem></app-interview-applicantitem>
  <app-interview-applicantitem></app-interview-applicantitem>
  <app-interview-applicantitem></app-interview-applicantitem>

  <app-interview-applicantitem></app-interview-applicantitem>
  <app-interview-applicantitem></app-interview-applicantitem>
  <app-interview-applicantitem></app-interview-applicantitem>

  <app-interview-applicantitem></app-interview-applicantitem>
  <app-interview-applicantitem></app-interview-applicantitem>
  <app-interview-applicantitem></app-interview-applicantitem>
