<div class="container">
  
  <div class="panel panel-default">
   <div class="m" role="tab" id="headingOne">
     <h4 class="panel-title">
       <i class="fa fa-search" ></i>
         
       <a role="button"  href="#collapseOne" data-toggle="collapse" data-parent="#accordion" aria-expanded="true" aria-controls="collapseOne">
         ShortList
       </a>
       <i class="fa fa-arrow-down"></i>					
     </h4>

   </div>
   <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
     <div class="panel-body">
       <div class="col-md-6"></div>
       <div class="form-group col-md-6 col-xs-12">
         <div class="input-group input-search">
           <input type="text" class="form-control" name="q" id="q" placeholder="Search...">
           <span class="input-group-btn">
             <button class="btn btn-default" type="submit">
               <i class="fa fa-search"></i>
             </button>
           </span>
         </div>
       </div>
      <app-interview-applicantitem></app-interview-applicantitem>
      <app-interview-applicantitem></app-interview-applicantitem>
      <app-interview-applicantitem></app-interview-applicantitem>       
     </div>
     <a href="viewAll.html" class="SeeMore">See More</a>				
   </div>
 </div>
</div>
