
<!-- Search -->
<div class="row" *ngIf="seeMore">
    <div class="col-md-4 right search">
        <aside class="sidebar">
            <form method="POST" role="form">
                <div class="input-group input-group-lg">
                    <input class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-primary">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </form>
        </aside>
    </div>
</div>

<!-- Card View depends on list Type -->
<div [ngSwitch]="listType">
    <div *ngSwitchCase="'shortlist'"  >
        <div *ngIf="acceptedList; else noList">
            <!-- <app-interview-applicantitem [applicant]="acceptedList[0]" ></app-interview-applicantitem>
            <app-interview-applicantitem [applicant]="acceptedList[1]" ></app-interview-applicantitem>
            <app-interview-applicantitem [applicant]="acceptedList[2]" ></app-interview-applicantitem> -->
        </div>
    </div>
    <div *ngSwitchCase="'pendingcv'" >
        <div *ngIf="pendingList; else noList">
        <app-view-one-item [applicant]="pendingList[0]">
            <i class="fa fa-check " style="color:green" (click)="acceptApplicant()"></i>
            <i class="fa fa-close " style="color:red"(click)="rejectApplicant()"></i>
        </app-view-one-item>
        <app-view-one-item [applicant]="pendingList[1]">
            <i class="fa fa-check " style="color:green" (click)="acceptApplicant()"></i>
            <i class="fa fa-close " style="color:red"(click)="rejectApplicant()"></i>
        </app-view-one-item>
        <app-view-one-item [applicant]="pendingList[2]">
            <i class="fa fa-check " style="color:green" (click)="acceptApplicant()"></i>
            <i class="fa fa-close " style="color:red"(click)="rejectApplicant()"></i>
        </app-view-one-item>
        </div>
       
    </div>
</div>

<!-- see more button -->
<a class="SeeMore" (click)="seeMoreclicked()" *ngIf="!seeMore">See More</a>
<p class="clear"></p>

<!-- the rest of applicants card -->
<div [ngSwitch]="listType" *ngIf="seeMore">
    <div *ngSwitchCase="'shortlist'"  >
        <app-interview-applicantitem *ngFor="let applicant of acceptedList" [applicant]="applicant"></app-interview-applicantitem>
    </div>
    <div *ngSwitchCase="'pendingcv'">
        <app-view-one-item *ngFor="let applicant of pendingList" [applicant]="applicant">
            <i class="fa fa-check " style="color:green" (click)="acceptApplicant()"></i>
            <i class="fa fa-close " style="color:red"(click)="rejectApplicant()"></i>
        </app-view-one-item>
    </div>
</div>
<a class="SeeMore" (click)="seeMoreclicked()" *ngIf="seeMore">See Less</a>
<p class="clear"></p>
<ng-template #noList>
    <P><strong>No list</strong></P>
</ng-template>