<!--user profile page-->  
<!--user component for user profile-->
<div class="row">
      <!--Profile Pic-->
      <div class="col-md-4" data-appear-animation="fadeIn">
        <div class="owl-carousel" data-plugin-options='{"items": 1}'>
          <div>
            <div class="thumbnail">
              <a class="thumb-info lightbox" href="#popupImageEdit" data-plugin-options='{"type":"inline", preloader: false}'>
                <img alt="" height="300" class="img-responsive" [src]="user.imagePath">
                <span class="thumb-info-action">
                  <span title="Universal" class="thumb-info-action-icon"><i class="fa fa-camera"></i></span>
                </span>
              </a>
            </div>
          </div>
        </div>
        <div id="popupImageEdit" class="popup-inline-content">
          <div class="row">
            <div class="imageEdit">
              <img [src]="user.imagePath">
            </div>
          </div>
          <div class="row">
            <div class="imageEditOptions">
              <div class="imageEditOption left">
                <a><i class="fa fa-camera"></i> Upload</a>
              </div>
              <div class="imageEditOption left">
                <a><i class="fa fa-trash" aria-hidden="true"></i> Remove</a>
              </div>
              <div class="imageEditOption left">
                <a><i class="fa fa-eye" aria-hidden="true"></i> Visibility</a>
              </div>
              <p class="clear"></p>
            </div>			
          </div>
        </div>
      </div>

      <!--content-->
      <router-outlet></router-outlet>
</div>
<hr class="tall" />

<app-skill-list></app-skill-list>