<div class="col-md-4 col-sm-4 col-xs-12">
    <div class="feature-box secundary bordered">
        <a class="right">
            <i class="fa fa-trash" aria-hidden="true" data-id="1" (click) = "onTrashClick()"></i>
        </a>
        <a class="thumb-info lightbox right" routerLink='vacancydetails/{{vacancyitem.id}}' data-plugin-options='{"type":"inline", preloader: false}'
            data-toggle="tooltip" data-placement="top" title="more info">
            <i class="fa fa-info"></i>
        </a>
        <a class="thumb-info lightbox right" routerLink='editvacancy/{{vacancyitem.id}}' data-plugin-options='{"type":"inline", preloader: false}'
            data-toggle="tooltip" data-placement="top" title="edit">
            <i class="fa fa-pencil"></i>
        </a>

        <div class="feature-box-icon">
            <img src="{{enterprises[index].logo}}" alt="">
        </div>
        <div class="feature-box-info">
            <a href="index-2.html">
                <h5 class="shorter">{{vacancyitem.title}}</h5>
            </a>
            <h6 class="short">{{enterprises[index].headquarters}}</h6>
            <p class="short2">posted {{vacancyitem.postdate}} ago</p>

            <p class="short">{{vacancyitem.description}}</p>

        </div>
    </div>

</div>
