<div class="demo-border">
  <div class="demo-one"
    dragScroll
    >
    <div class="box" *ngFor="let skill of skills" ></div>
    <!-- <app-skill-item-small *ngFor="let skill of skills" [skillDetails]=skill  ></app-skill-item-small> -->
    
  </div>
</div>
 

<!-- <div drag-scroll scrollbar-hidden="true" snap-disabled="true" #nav>
  <div>AAAAAAAAAAAAAA</div>
  <div>BBBBBBBBBBBBBB</div>
  <div>CCCCCCCCCCCCCC</div>
  <div>DDDDDDDDDDDDDD</div>
  <div>CCCCCCCCCCCCCC</div>
  <div>XXX</div>
  <div>EEEEEEEEEEEEEE</div>
  <div>FFFFFFFFFFFFFF</div>
  <div>GGGGGGGGGGGGGG</div>
  <div>HHHHHHHHHHHHHH</div>
  <div>IIIIIIIIIIIIII</div>
</div>
<button (click)="stepLeft()"> left</button>
<button (click)="stepRight()"> right</button> -->
