<p>
  registration works!
</p>
<!-- Register -->
<div class="col-sm-4">
  <div class="featured-box featured-box-secundary default info-content">
    <div class="box-content">
      <h4>Register An Account</h4>
      <form (ngSubmit)="onRegister()" [formGroup]="regForm">
        <!-- Block first name & last name -->
        <div class="row">
          <div class="form-group">
            <div class="col-md-6" [ngClass]="{'has-error': fName.invalid && (fName.touched || fName.dirty)}">
              <label for="fName">First name</label>
              <input formControlName="fName" name="fName" id="fName" type="text" value="" class="form-control input-lg">
              <label *ngIf="fName.invalid && (fName.touched || fName.dirty)">your first name</label>
              <!-- <label *ngIf="fName.errors?.minLength">min 6 chars</label> -->
              <!-- <label *ngIf="fName.errors.maxLength">max 12 chars</label> -->
            </div>
            <div class="col-md-6" [ngClass]="{'has-error': lName.invalid && (lName.touched || lName.dirty)}">
              <label for="lName">Last name</label>
              <input formControlName="lName" name="lName" id="lName" type="text" value="" class="form-control input-lg">
              <label *ngIf="lName.invalid && (lName.touched || lName.dirty)">your last name</label>
              <!-- <label *ngIf="lName.errors?.minLength">min 6 chars</label> -->
              <!-- <label *ngIf="lName.errors.maxLength">max 12 chars</label> -->
            </div>
          </div>
        </div>
        <!-- Block e-mail -->
        <div class="row">
          <div class="form-group">
            <div class="col-md-12" [ngClass]="{'has-error': email.invalid && (email.touched || email.dirty)}">
              <label for="email">E-mail Address</label>
              <input formControlName="email" name="email" id="email" type="text" value="" class="form-control input-lg">
              <label *ngIf="email.invalid && (email.touched || email.dirty)">your e-mail</label>
            </div>
          </div>
        </div>
        <!-- Block password -->
        <div class="row">
          <div class="form-group">
            <div class="col-md-6" [ngClass]="{'has-error': password.invalid && (password.touched || password.dirty)}">
              <label>Password</label>
              <input formControlName="password" name="password" type="password" value="" class="form-control input-lg">
              <label *ngIf="password.invalid && (password.touched || password.dirty)">your password</label>
            </div>
            <div class="col-md-6" [ngClass]="{'has-error': rePassword.invalid && (rePassword.touched || rePassword.dirty) && (rePassword.value != password.value)}">
              <label>Confirm Password</label>
              <input formControlName="rePassword" name="rePassword" type="password" value="" class="form-control input-lg">
              <label *ngIf="rePassword.invalid && (rePassword.touched || rePassword.dirty) && (rePassword.value != password.value)">confirm your password</label>
            </div>
          </div>
        </div>
        <!-- Block birth Date title -->
        <div class="row">
          <div class="col-md-12">
            <label>Birth Date</label>
          </div>
        </div>
        <!-- Block birth Date -->        
        <div class="row">
          <div class="form-group">
            <div class="col-md-4">
              <label>Day</label>
              <select formControlName="day" class="form-control" required="required">
                <option *ngFor="let d of days" [value]="d">{{d}}</option>
              </select>
            </div>
            <div class="col-md-4">
              <label>Month</label>
              <select name="" class="form-control" required="required">
                <option *ngFor="let m of months" [value]="m">{{m}}</option>
              </select>
            </div>
            <div class="col-md-4">
              <label>Year</label>
              <select name="" class="form-control" required="required">
                <option *ngFor="let y of years" [value]="y">{{y}}</option>
              </select>
            </div>
          </div>
        </div>
        <!-- Block gender title -->
        <div class="row">
          <div class="col-md-12">
            <label>Gender</label>
          </div>
        </div>
        <!-- Block gender -->        
        <div class="row">
          <div class="form-group">
            <div class="col-md-6">
              <div class="radio">
                <label>
                  <input type="radio" name="Gender" value="1" checked="checked"> Male
                </label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="radio">
                <label>
                  <input type="radio" name="Gender" value="0" checked="checked"> Female
                </label>
              </div>
            </div>
          </div>
        </div>
        <!-- block submit -->
        <div class="row">
          <div class="col-md-12">
            <input [disabled]="regForm.valid" type="submit" value="Register" class="btn btn-primary pull-right push-bottom" data-loading-text="Loading...">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
