 
<div role="main" class="main">
  <!-- @{ ViewBag.BlackHeaderTitle = Model.MainCategory; }  -->
  <!-- @Html.Partial("GeneralPartialViews/_PartialSectionBlackForTitle") -->
  <div class="container">
    <div class="portfolio-title">
      <div class="row">
        <div class="portfolio-nav-all col-md-1">
          <a href="portfolio-single-project.html" data-tooltip data-original-title="Back to list">
            <i class="fa fa-th"></i>
          </a>
        </div>
        <div class="col-md-10 center">
          <h2 class="shorter">{{Path.Name}}</h2>
        </div>
        <div class="portfolio-nav col-md-1">
          <a href="" class="portfolio-nav-prev" data-tooltip data-original-title="Previous">
            <i class="fa fa-chevron-left"></i>ss
          </a>
          <a href="" class="portfolio-nav-next" data-tooltip data-original-title="Next">
            <i class="fa fa-chevron-right"></i>
          </a>
        </div>
      </div>
    </div>

    <hr class="tall">

    <!-- Path Profile Data  -->
    <div class="row  PathProfileData">
      <!-- Edit Icon -->
      <div class="col-md-12 " *ngIf="isCreatorEnterprise">
        <div class="row"  >
          <div class="col-sm-1 col-sm-offset-10">
            <span class="thumb-info-social-icons right">
              <a id="delete-profile" data-tooltip data-placement="bottom" data-original-title="Delete" (click)="deleteClicked()">
                <i class="fa fa-close"></i>
                <span>Delete</span>
              </a>
            </span>
          </div>
          <div class="col-sm-1">
              <span class="thumb-info-social-icons left EditIconPathProfile">
                <a id="edit-profile" [routerLink]="['/paths','edit', Path.Id ]" data-tooltip data-placement="bottom" data-original-title="Edit">
                  <i class="fa fa-pencil"></i>
                  <span>Edit</span>
                </a>
              </span>
            </div>
        </div>
      </div>
      <!-- data -->
      <div class="col-md-12">
        <div class="row">
          <div class="col-sm-3 col-xs-12">
            <div class="thumbnail">
              <img alt="" class="img-responsive" [src]="Path.ImgURL">
            </div>
          </div>
          <div class="col-md-8">
            <div class="portfolio-info">
              <div class="row">
                <div class="col-md-12 center">
                  <ul>
                    <li>
                      <a href="#" data-tooltip data-original-title="Like">
                        <!-- <i class="fa fa-heart"></i>{{Path.NoOfInterestedUsers}} -->
                      </a>
                    </li>
                    <li>
                      <i class="fa fa-tags"></i>
                      <a >{{Path.PathMainCategory.Name}}</a> | 
                      <a >{{Path.PathSubCategory.Name}}</a> 
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <h4>

              <strong>{{Path.Name}}</strong>
            </h4>
            <p class="taller">
             {{ Path.Description }}
            </p>

            <div *ngIf="!isEnterprise && !enrolledUser" >
              <a  class="btn btn-primary btn-icon" (click)="enrollUser()">
                <i class="fa fa-external-link"></i>Enroll
              </a>
            </div>
            <div *ngIf="!isEnterprise && enrolledUser" >
              <a  class="btn btn-default btn-icon" (click)="deenrollUser()">
                <i class="fa fa-external-link"></i>De-Enroll
              </a>
            </div>

            <div *ngIf="isEnterprise && !recommeded" >
                <a  class="btn btn-primary btn-icon" (click)="RecommendPath()">
                  <i class="fa fa-external-link"></i>Recommend
                </a>
              </div>
              <div *ngIf="isEnterprise && recommeded" >
                <a  class="btn btn-default btn-icon" (click)="unRecommendPath()">
                  <i class="fa fa-external-link"></i>UnRecommend
                </a>
              </div>


          </div>
        </div>
      </div>
    </div>

    <hr class="tall" />

    <!-- Intro level skills -->
    <app-path-level-skill [levelName]="'Intro'" [skills]="skillsIntro" ></app-path-level-skill>

    <hr class="tall" />

    <!-- Intermediate  level skills -->
    <app-path-level-skill [levelName]="'Intermediate'" [skills]="skillsIntermediate" ></app-path-level-skill>

    <hr class="tall" />

    <!-- Advanced level skills -->
    <app-path-level-skill [levelName]="'Advanced'" [skills]="skillsAdvanced" ></app-path-level-skill>
    <hr class="tall" />

    <!--   Title-->
    <div class="col-md-12">
      <div class="row">
        <div class="">
          <h3>
            Recommended By
            <strong>Enterprises </strong>
          </h3>
        </div>
      </div>
    </div>
  </div>
  <!-- TODO : add Enterprise components -->
  <div class="container">
    <app-enterprise-list [pathId]="Path.Id" [enterprises]="Path.EnterpriseRecommendPath" ></app-enterprise-list>
  </div>
  <hr class="tall" />
  <div class="container">
    <!--   Title-->
    <div class="">
      <div class="row">
        <div class="col-md-12">
          <h3>
            Similar
            <strong>Paths </strong>
          </h3>
        </div>
      </div>
    </div>

    <!-- Path items View ALL -->
    <app-list [pathList]= 'Path.SimilarPaths'></app-list>
  </div>
</div>

<!-- @Html.Partial("GeneralPartialViews/_PartialFooterQuote"); -->