<!--Previous Exp-->

<app-work-exp-item *ngFor="let workExpItem of workExperiences; let i = index" 
[workExpItem]="workExpItem" [workExpIndex]="i" [type]="type"></app-work-exp-item>
<!-- <input id="read-more-toggle-1" class="read-more-toggle" type="checkbox">
<div class="container read-more-content">
   <div class="row class1">
       <!-- <app-work-exp-item></app-work-exp-item> -->
<!-- <div class="container seeMore">
    <hr class="short"/>
    <div class="row">
        <div class="col-md-6">
        </div>
        <div class="col-md-6">
            <label class="read-more-toggle-label" for="read-more-toggle-1">Show </label>
            <i class="fa fa-angle-double-down more"></i>
            <i class="fa fa-angle-double-up less"></i>
        </div>
        <hr class="tall" />
    </div>
</div> -->