<!--Previous Exp-->

<app-work-exp-item *ngFor="let workExpItem of workExperiences; let i = index"
[workExpItem]="workExpItem"
[enterprise]="enterprises[i]"></app-work-exp-item>
<!-- <div class="col-md-4 col-sm-6 col-xs-12" id="1">
        <div class="feature-box secundary">
                <a class="right">
                    <i class="fa fa-trash" aria-hidden="true" data-id="1"></i>
                </a>
                <a class="thumb-info lightbox right" href="#popupProject" data-plugin-options='{"type":"inline", preloader: false}'>
                    <i class="fa fa-info" data-toggle="tooltip" data-placement="top" title="more info"></i>
                </a>
                <a class="right">
                    <i class="fa fa-pencil"></i>
                </a>
                <div class="feature-box-icon">
                    <img src="../../../assets/img/logos/vodaphone.png" alt="">
                </div>
                <div class="feature-box-info">
                    <a href="index-2.html">
                        <h4 class="shorter">Vodafone</h4>
                    </a>
                    <p class="">10/2015 - present</p>
                </div>
        </div>
    </div> 
-->
<input id="read-more-toggle-1" class="read-more-toggle" type="checkbox">
<div class="container read-more-content">
   <div class="row class1">
       <!-- <app-work-exp-item></app-work-exp-item> -->
   </div>
</div>
<div class="container seeMore">
    <hr class="short"/>
    <div class="row">
        <div class="col-md-6">
        </div>
        <div class="col-md-6">
            <label class="read-more-toggle-label" for="read-more-toggle-1">Show </label>
            <i class="fa fa-angle-double-down more"></i>
            <i class="fa fa-angle-double-up less"></i>
        </div>
        <hr class="tall" />
    </div>
</div>