<div class="col-md-4 col-sm-6 col-xs-12">
    <div class="feature-box secundary bordered">
        <div class="feature-box-icon">
            <img src="../../../assets/img/team/emp.jpg">
        </div>
        <div class="feature-box-info VacancyInfo">
            <a href="#">
                <h4 class="shorter">Youssef Hany</h4>
            </a>
            <ul class="list icons list-unstyled">
                <li>
                    <i class="fa fa-suitcase"></i>
                    <strong>Position:</strong> Front-End developper</li>
            </ul>
            <div class="right VacancyResponse">
                <i class="fa fa-check " style="color:green"></i>
                <i class="fa fa-close " style="color:red"></i>
                <i class="fa fa-hourglass-end" style="color:blue"></i>
            </div>
            <p class="clear"></p>
        </div>
    </div>