<!-- interview section -->
<section class="page-top">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h1>Interviews</h1>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="row class1">
        <div class="col-md-12"><h3><i class="fa fa-calendar"></i> <strong>Scheduale</strong> Interviews</h3></div>
        <!-- Calendar -->
        <app-calendar></app-calendar>

        <hr class="mini">
        
        <!-- shortList -->
        <app-interview-list [listType]="'shortlist'"></app-interview-list>
        <hr class="mini">

        <!-- Waiting List -->
        <app-interview-list [listType]="'pendingcv'"></app-interview-list>
        
    </div>
</div>