<div class="row class1 acceptedCV">
  <div class="row">
      <div class="col-md-12"><h3><i class="fa fa-check"></i> <strong>Accepted</strong> CV</h3></div>
  </div>
  <div class="row" *ngIf="userPendingVacancies.length > 0">
      <div class="col-md-8 alert alert-success">
          <strong>Congratualtions Joe!</strong> Your CV has been accepted in the following vacancies and pending your interview slot choice.
      </div>
  </div>
  
  <div *ngFor="let vacancy of userPendingVacancies" class="col-md-4 col-sm-6 col-xs-12">
      <div class="feature-box secundary">
          <div class="feature-box-icon">
              <img [src]="vacancy.enterprise.logo" alt="">
          </div>
          <div class="feature-box-info">
              <a href="index-2.html">
                  <h4 class="shorter">{{vacancy.enterprise.name}}</h4>
              </a>
              <p class="">{{vacancy.title}} - {{vacancy.level}} Level</p>
              <div class="right">
                  <button type="submit" class="btn btn-primary">Pick Interview Slot</button>
              </div>
          </div>
          <p class="clear"></p>
      </div>
  </div>
</div>
