<section class="page-top">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Job Posting Plans</h1>
      </div>
    </div>
  </div>
</section>

<div class="container">
  <div class="row">

    <div class="pricing-table">
      <div class="col-md-4">
        <div class="plan">
          <h3>Standard
            <span>$59</span>
          </h3>
          <h5>Greate for hiring o a budget</h5>
          <ul>
            <li>
              <i class="fa fa-check"></i>
              <span>Distribute to 100+ job boards</span>
            </li>
          </ul>
          <a class="btn btn-lg btn-primary" href="#">Start Free Trail</a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="plan">
          <h3>Primium
            <span>$59</span>
          </h3>
          <h5>Tha best way to hire fast</h5>
          <ul>
            <li>
              <i class="fa fa-check"></i>
              <span>Distribute to 100+ job boards</span>
            </li>
            <li>
              <i class="fa fa-check"></i>
              <span>Access to our database of over 2 millions records and resumes</span>
            </li>
          </ul>
          <a class="btn btn-lg btn-primary" href="#">Start Free Trail</a>
        </div>
      </div>
      <div class="col-md-4">
          <div class="plan">
            <h3>Pro
              <span>$59</span>
            </h3>
            <h5>More and more facilities</h5>
            <ul>
              <li>
                <i class="fa fa-check"></i>
                <span>Distribute to 100+ job boards</span>
              </li>
              <li>
                <i class="fa fa-check"></i>
                <span>Access to our database of over 2 millions records and resumes</span>
              </li>
              <li>
                  <i class="fa fa-check"></i>
                  <span>Send candidates directly to your external ATS</span>
                </li>
            </ul>
            <a class="btn btn-lg btn-primary" href="#">Start Free Trail</a>
          </div>
        </div>
    </div>

  </div>
</div>