<li>
  <div class="post-image">
    <div class="img-thumbnail">
      <a href="">
        <img alt="" width="40" height="40" class="img-responsive" [src]="ratingItem.icon">
      </a>
    </div>
  </div>
  <div class="post-info">
    <h6>{{ratingItem.name}}</h6>
    <div class="post-meta">
      <ngb-rating [rate]="3" [max]=5 [readonly]=" true"></ngb-rating>
    </div>
  </div>
</li>
<!-- <li>
  <div class="post-image">
    <div class="img-thumbnail">
      <a href="shop-product-sidebar.html">
        <img alt="" width="40" height="40" class="img-responsive" src="../../../../../../assets/img/workplace.png">
      </a>
    </div>
  </div>
  <div class="post-info">
    <h6>Workplace</h6>
    <div class="post-meta">
      <ngb-rating [rate]="3" [max]=5 [readonly]=" true"></ngb-rating>

    </div>
  </div>
</li>
<li>
  <div class="post-image">
    <div class="img-thumbnail">
      <a href="shop-product-sidebar.html">
        <img alt="" width="40" height="40" class="img-responsive" src="../../../../../../assets/img/appreciation.png">
      </a>
    </div>
  </div>
  <div class="post-info">
    <h6>Appreciation</h6>
    <div class="post-meta">
      <ngb-rating [rate]="3" [max]=5 [readonly]=" true"></ngb-rating>

    </div>
  </div>
</li>
<li>
  <div class="post-image">
    <div class="img-thumbnail">
      <a href="shop-product-sidebar.html">
        <img alt="" width="40" height="40" class="img-responsive" src="../../../../../../assets/img/cv.png">
      </a>
    </div>
  </div>
  <div class="post-info">
    <h6>Experience</h6>
    <div class="post-meta">
      <ngb-rating [rate]="3" [max]=5 [readonly]=" true"></ngb-rating>
    </div>
  </div>
</li> -->