<!--upper section of user profile-->
<!--user details edit-->
<div class="col-md-8">
  <form class="form-horizontal form-bordered" [formGroup]="userEditForm" (ngSubmit)="onSubmit()">
    <div class="upperSection">
      <div class="row">
        <div class="form-group">
          <div class="col-md-3 col-xs-6">
            <input class="form-control" type="text" formControlName = "firstname">
            <span class="errorMsg" *ngIf="!userEditForm.get('firstname').valid && userEditForm.get('firstname').touched">Entry not valid</span>
          </div>
          <div class="col-md-3 col-xs-6">
            <input class="form-control" type="text" formControlName ="lastname">
            <span class="errorMsg" *ngIf="!userEditForm.get('lastname').valid && userEditForm.get('lastname').touched">Entry not valid</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <div class="col-md-4 col-xs-6">
            <input class="form-control inline iconInput" id="Position" type="text" formControlName = "title">
            <h4 class="inline"><b>@</b></h4>
          </div>
          <div class="col-md-4 col-xs-6">
            <div class="input-group input-search">
              <input class="form-control" id="Company" type="text" formControlName ="enterpriseName">
              <span class="input-group-btn">
                <button class="btn btn-default"><i class="fa fa-search"></i></button>
              </span>
            </div>
          </div>
        
          
          <div class="col-md-4 col-xs-12" >
            <span class="thumb-info-social-icons right">
              <a data-tooltip data-placement="bottom" target="_blank" href="http://www.facebook.com" data-original-title="Facebook"><i class="fa fa-facebook"></i><span>Facebook</span></a>
              <a data-tooltip data-placement="bottom" href="http://www.twitter.com" data-original-title="Twitter"><i class="fa fa-twitter"></i><span>Twitter</span></a>
              <a data-tooltip data-placement="bottom" href="http://www.linkedin.com" data-original-title="Linkedin"><i class="fa fa-linkedin"></i><span>Linkedin</span></a>
            </span>
          </div>
        </div>
      </div>
    </div>
    <ul class="list icons list-unstyled contactInfo">
      <li>
        <div class="row">
          <div class="col-md-4 col-xs-12">
            <i class="fa fa-envelope"></i> <input class="form-control iconInput" id="email" type="text" formControlName = "email">
            <span class="errorMsg" *ngIf="!userEditForm.get('email').valid && userEditForm.get('email').touched">Entry not valid</span>
          </div>
          <div class="col-md-8"></div>
        </div>
      </li>
      <li>
        <div class="row">
          <div class="col-md-4 col-xs-12">
            <i class="fa fa-phone-square"></i>
            <input class="form-control iconInput" id="mobileNo" type="text" formControlName = "telNumber">
            <span class="errorMsg" *ngIf="!userEditForm.get('telNumber').valid && userEditForm.get('telNumber').touched">Entry not valid</span>
          </div>
          <div class="col-md-8"></div>
        </div>
      </li>
      <li>
        <div class="row">
          <div class="col-md-4 col-xs-12">
            <i class="fa fa-map-marker"></i>
            <input class="form-control iconInput" id="address" type="text" formControlName = "district">
          </div>
          <div class="col-md-4 col-xs-6">
            <select class="form-control mb-md">
              <option>City...</option>
              <option>Cairo</option>
              <option>Alexandria</option>
            </select>
          </div>
          <div class="col-md-4 col-xs-6">
            <select class="form-control mb-md">
              <option>Country...</option>
              <option>Egypt</option>
              <option>Lebanon</option>
            </select>
          </div>
        </div>

      </li>
    </ul>
    <div>
      <div class="row">
        <div class="col-md-12">
          <textarea class="form-control" rows="3" id="textareaDefault" formControlName = "description"></textarea>
          <span class="errorMsg" *ngIf="!userEditForm.get('description').valid && userEditForm.get('description').touched">Entry not valid</span>
        </div>
      </div>
      <p><b>Main Interests</b></p>
      <ul class="list icons list-unstyled" formArrayName="interests">
        <li *ngFor="let interestctrl of userEditForm.get('interests').controls; let i = index; ">
          <i class="fa fa-check"></i>
          <input class="form-control iconInput" type="text" [formControlName] = "i">
        </li>
      </ul>
    </div>
    <div class="right">
      <button type="button" class="btn btn-default" (click)="onCancel()">Cancel</button>
      <button type="submit" class="btn btn-primary" [disabled]="!userEditForm.valid">Save</button>
    </div>
    <p class="clear"></p>
  </form>
</div>
