<div class="skill-item">
  <a href="#" class="remove edit-skills-display">
    <i class="fa fa-trash"></i>
  </a>
  <p class="clear"></p>
  <div class="portfolio-item img-thumbnail">
      <a class="thumb-info lightbox" [href]="'#'+skillDetails.ID" data-plugin-options='{"type":"inline", preloader: false}'>
      <img alt="" class="img-responsive" [src]="skillDetails.Img">
      <span class="thumb-info-title">
        <span class="thumb-info-inner">{{skillDetails.Name}}</span>
        <span class="thumb-info-type">
          <input type="text" value="3.4" class="input-disabled1 rating" data-size="xs">.30
        </span>
      </span>
      <span class="thumb-info-action">
        <span title="Universal" class="thumb-info-action-icon">
          <i class="fa fa-link"></i>
        </span>
      </span>
    </a>
  </div>
  <!--Description-->
  <div [id]="skillDetails.ID" class="popup-inline-content skillsFull">
    <!-- {{skil.Level}} -->

      <app-skill-popup *ngIf="toShow" [skillDetails]="skillDetails"></app-skill-popup>
  </div>
</div>