<form [formGroup]="updateForm" (ngSubmit)="onSubmit()">
  <ul class="list icons list-unstyled">

    <div class="table-responsive">
      <table class="table table-hover tableCustom">

        <tbody>
          <tr>
            <td>
              <i class="fa fa-calendar"></i> Date-acquired</td>
            <td>
              <input type="text" 
              formControlName="acquiredDate" 
              name="acquiredDate" 
              bsDatepicker [bsConfig]="datePickerConfig">
            </td>
           


          </tr>
          <tr>
            <td>
              <i class="fa fa-university"></i>
              From</td>
            <td>
              <input type="text" 
              formControlName="from" 
              name="from">
            </td>
          
          </tr>
          <tr>
            <td>

              <i class="fa fa-road"></i>
              Required in Paths</td>
            <td>
              <input type="text" 
              formControlName="paths" 
              name="paths" >
            </td>
          </tr>
          <tr>
            <td></td>
            <td>
              <span class="label label-primary pathLabel">Web Development</span>
              <span class="label label-primary pathLabel">Full-Stack Developer</span>
              <span class="label label-primary pathLabel">Back-End Developer</span>
            </td>
          </tr>
          <tr>

            <td>
              <i class="fa fa-briefcase"></i> Required in Vacancies</td>
            <td>
              <input type="text" 
              formControlName="vacancies" 
              name="vacancies" >
              <!-- <span class="label label-success">100</span> output of no of vacancies displayed here -->
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </ul>
  <div class="right ">
    <button type="button" class="btn btn-default">Cancel</button>
    <button type="submit" class="btn btn-primary">Save</button>
  </div>
  <p class="clear"></p>
</form>