
.clearfix .sidebar
{
  margin-left: 10%;
}

.clearfix .sidebar h6
{
  color : #0088cc ;
}

.vl {
    border-left: 1px solid #bcbcbcc4;
    height: 370px;
    position: absolute;
    left: 1%;
    margin-left: -3px;
    top: 0;
  }