<div class="col-md-3">
  <div class="vl"></div>
  <aside class="sidebar">
    <div class="row">
      <div class="col-md-5">
        <h5>
          <i class="fa fa-star"></i>Ratings</h5>
      </div>
      <div class="col-md-7">
        <div class="">
          <div class="row"> 
                  
            <button style="margin-top : -10px;" class="btn btn-primary" title="Share this content" (click)="openReviewDialog()">
              <i class="fa fa-plus"></i>
              Add rating
            </button>
          </div>
        </div>
      </div>
    </div>

    <ul class="simple-post-list">
      <app-one-item></app-one-item>
    </ul>
  </aside>
  
</div>