
<section class="page-top">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- <h1>Enterprises</h1> -->
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h1>Enterprises</h1>
            </div>
        </div>
    </div>
</section>



<!-- Available Enterprises -->

<div class="container available-vacancies">

    <div class="row" style="margin-bottom: 20px;">
        <div class="col-md-10"></div>
        <div class="col-md-2">
            <a href="#" class="btn btn-primary right" routerLink='enterprise/details'>Add Account</a>
        </div>
    </div>
    <div class="container vacancy">
        <div class="row">
            <div class="col-md-4 left search">
                <aside class="sidebar">
                    <form method="POST" role="form" (ngSubmit) = "OnSearchSubmit(searchForm)" #searchForm = ngForm>
                        <div class="input-group input-group-lg">
                            <input class="form-control" placeholder="Search..." name="s" id="s" type="text" [(ngModel)] = searchWord>
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </form>
                </aside>
            </div>
        </div>

        <div class="row">
            <app-view-one-item *ngFor="let e of enterprises" [item]="e"></app-view-one-item>
        </div>
    </div>
</div>