<form method="POST" (ngSubmit)='addPath(PathForm)' #PathForm = "ngForm">
<div class="row  PathProfileData">
    <!-- Save Icon -->
    <div class="row">
        <div class="col-sm-1 col-sm-offset-11">
            <span class="thumb-info-social-icons right EditIconPathProfile">
                <a id="edit-profile" data-tooltip data-placement="bottom" data-original-title="Save">
                    <i class="fa fa-check"></i>
                    <span>Save</span>
                </a>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-sm-3  ">
                <div class="portfolio-item thumbnail">
                    <a href="" class="thumb-info">
                        <img alt="" class="img-responsive" [src]="path.ImgURL">
                        <span class="thumb-info-title">
                            <span class="thumb-info-inner">Change Picture</span>
                            <span class="thumb-info-type">Upload From Device</span>
                        </span>
                        <span class="thumb-info-action">
                        </span>
                    </a>
                </div>
                <div class="form-group">
                    <input type="file" accept="image" class="thumb-info-inner form-control">
                </div>
            </div>
            <div class="col-sm-9 mediumPadding">
                <input type="hidden" name="path.Id"  [(ngModel)]= "path.Id"/>
                <div class="form-group row">
                    <div class="col-xs-4 ">
                        <label class="  control-label">Name</label>
                    </div>
                    <div class=" col-xs-8">
                        <!-- @Html.EditorFor(i => i.Name, "textbox") -->
                      
                      <input type="text" name="path.Name" class="form-control"  required="required"  [(ngModel)]= "path.Name" >
                      
                    </div>
                </div>
                <div class="form-group row">
                    <div class=" col-xs-4">
                      <span>Main Category</span>
                    </div>
                    <div class=" col-xs-8">
                        <!-- @Html.DropDownListFor(a => a.Path.FK_EnumPathCategory_Id_Main, Model.Categories) -->
                        

                        <select   name="path.PathMainCategory" class="form-control" [(ngModel)]= "path.PathMainCategory" >
                            <option value="" disabled selected> Select Main category</option>
                            <option *ngFor="let cat of categories" [value]="cat.Id">{{cat.Name}}</option>
                          </select>

                    </div>
                </div>
                <div class="form-group row">
                    <div class=" col-xs-4">
                       
                       <span>Sub Category</span>
                       
                    </div>
                    <div class=" col-xs-8">
                        <!-- @Html.DropDownListFor(a => a.Path.FK_EnumPathCategory_Id_Sub, Model.Categories) -->
                        <select [(ngModel)]= "path.PathSubCategory" name="path.PathSubCategory" class="form-control" >
                            <option value="" disabled selected> Select Sub category</option>
                            <option *ngFor="let cat of categories" [value]="cat.Id">{{cat.Name}}</option>
                          </select>
                    </div>
                </div>
                <div class="form-group row">

                    <label class="col-xs-4 control-label" for="textareaDefault">Path description</label>
                    <div class="  col-xs-8">
                       
                        
                        <textarea name="path.Description" class="form-control" rows="3" required="required"  [(ngModel)]= "path.Description"></textarea>
                        
                    </div>
                </div>
            </div>

            <div class="form-group col-xs-offset-10">
                <input type="submit" value=" Add Path" class="btn btn-primary" />
            </div>

        </div>

    </div>
</div>

</form>

