
<div class="container available-vacancies">

  <div class="row">
      <div class="col-md-11">
          <h3>
              <i class="fa fa-suitcase"></i>Available Vacancies</h3>
      </div>
  </div>

  <div class="container vacancy">
      <!-- <div class="row">
          <div class="form-group">
              <div class="col-md-6 col-md-offset-6 col-sm-6 col-sm-offset-6">
                  <input type="search" name="" class="form-control" value="" title="" placeholder="Search">
              </div>
          </div>
      </div> -->

      <div class="row">
          <app-vacancy-item *ngFor="let v of vacancies" [vacancyitem]="v"></app-vacancy-item>
      </div>
  </div>
  
</div>