 
  <div role="main" class="main">
    <!-- @Html.Partial("GeneralPartialViews/_PartialHeaderIntro_Quotes"); -->
    <div class="container">
      <!--SubHeader-->
      <!-- @Html.Partial("Path/_PartialViewAllSubHeader") -->
      <!-- Filter-->
      <ul class="nav nav-pills sort-source" data-sort-id="team" data-option-key="filter">
        <li data-option-value="*" class="active">
          <a href="#">Show All</a>
        </li>
        <li *ngFor='let cat of PathCategories' [attr.data-option-value]="cat.Name">
          <a href="#">{{cat.Name}}</a>
        </li>
      </ul>

   
      <!-- Path items View ALL -->

      <app-list [pathList]= 'paths'></app-list>
    </div>
  </div> 
