
<div class="row pathLevel">
  <!-- Path Level Title-->
  <div class="col-md-12">
      <div class="row">
          <div class="col-md-3">
              <h3>
                  <strong>{{levelName}} </strong> Level
              </h3>
          </div>
          <div class="col-sm-4">
              <div class="form-group col-md-10  hide searchSkillInPath" id="">
                  <div class="col-md-12">
                      <div class="input-group input-search">
                          <input type="text" class="form-control" name="q" id="q" placeholder="Search...">
                          <span class="input-group-btn">
                              <button class="btn btn-default" type="submit">
                                  <i class="fa fa-search"></i>
                              </button>
                          </span>
                      </div>
                  </div>
              </div>
              <span class="thumb-info-social-icons  AddPathSkill left ">
                  <a class=" " data-tooltip data-placement="bottom" data-original-title="Add">
                      <i class="fa fa-plus"></i>
                      <span>Add Path</span>
                  </a>
              </span>
          </div>
      </div>
  </div>
  <!-- Path Level Skills-->
  <ul class="portfolio-list">
      <li class="col-md-3 col-xs-6">
          <div class="portfolio-item thumbnail">
              <a href="portfolio-single-project.html" class="thumb-info">
                  <img alt="" class="img-responsive" src="~/img/avatar-3.jpg">
                  <span class="thumb-info-title">
                      <span class="thumb-info-inner">SEO</span>
                      <span class="thumb-info-type">Website</span>
                  </span>
                  <span class="thumb-info-action">
                      <span title="Universal" class="thumb-info-action-icon">
                          <i class="fa fa-link"></i>
                      </span>
                  </span>
              </a>
          </div>
      </li>
      <li class="col-md-3 col-xs-6">
          <div class="portfolio-item thumbnail">
              <a href="portfolio-single-project.html" class="thumb-info">
                  <img alt="" class="img-responsive" src="~/img/avatar-3.jpg">
                  <span class="thumb-info-title">
                      <span class="thumb-info-inner">Okler</span>
                      <span class="thumb-info-type">Brand</span>
                  </span>
                  <span class="thumb-info-action">
                      <span title="Universal" class="thumb-info-action-icon">
                          <i class="fa fa-link"></i>
                      </span>
                  </span>
              </a>
          </div>
      </li>
      <li class="col-md-3 col-xs-6">
          <div class="portfolio-item thumbnail">
              <a href="portfolio-single-project.html" class="thumb-info">
                  <img alt="" class="img-responsive" src="~/img/avatar-3.jpg">
                  <span class="thumb-info-title">
                      <span class="thumb-info-inner">The Fly</span>
                      <span class="thumb-info-type">Logo</span>
                  </span>
                  <span class="thumb-info-action">
                      <span title="Universal" class="thumb-info-action-icon">
                          <i class="fa fa-link"></i>
                      </span>
                  </span>
              </a>
          </div>
      </li>
      <li class="col-md-3 col-xs-6">
          <div class="portfolio-item thumbnail">
              <a href="portfolio-single-project.html" class="thumb-info">
                  <img alt="" class="img-responsive" src="~/img/avatar-3.jpg">
                  <span class="thumb-info-title">
                      <span class="thumb-info-inner">The Code</span>
                      <span class="thumb-info-type">Website</span>
                  </span>
                  <span class="thumb-info-action">
                      <span title="Universal" class="thumb-info-action-icon">
                          <i class="fa fa-link"></i>
                      </span>
                  </span>
              </a>
          </div>
      </li>
  </ul>
</div>

