<div class="row pathLevel">
    <!-- Path Level Title-->
    <!-- <div class="col-md-12">
        <div class="row">
            <div class="col-md-3">
                <h3>
                    <strong>{{levelName}} </strong> Level
                </h3>
            </div>
            <div class="col-md-offset-5 col-sm-4" *ngIf="isCreatorEnterprise">
                <div class="form-group col-md-10 searchSkillInPath">
                    <div class="row">
                        <div class="col-md-8" id="skillDropDown">
                            <mat-form-field class="example-full-width">
                                <input type="text" placeholder="Pick a skill" [(ngModel)]='skillName' aria-label="Number" matInput [formControl]="myControl"
                                    [matAutocomplete]="auto">
                                <mat-autocomplete #auto="matAutocomplete">
                                    <mat-option *ngFor="let skillOption of filteredOptions | async | slice:0:90" [value]="skillOption.Name">
                                        {{ skillOption.Name }}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                        </div>
                        <span class="thumb-info-social-icons col-md-1 AddPathSkill left  ">
                            <a class=" " data-tooltip data-placement="bottom" data-original-title="Add" (click)="addSkill()">
                                <i class="fa fa-plus"></i>
                                <span>Add Path</span>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- Path Level Skills-->
    <div class="container">
        <div class="row" id="SkillsUser">
            <div class="col-md-12">
                <div class="owl-carousel owl-carousel-spaced smallOwl" data-plugin-options='{"items": 7}' id="hideDots">
                    <!-- <app-skill-item-small *ngFor="let skill of skills" [skillDetails]=skill></app-skill-item-small> -->
                </div>
            </div>
        </div>
    </div>

    <!-- <app-skill-list-drag-scroll [skills]="skills" ></app-skill-list-drag-scroll> -->
    
    <app-skill-list [title]="levelName"[subTitle]="'Level'" ></app-skill-list>
</div>
