<section class="page-top">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h1>Vacancies</h1>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div class="row" style="margin-bottom: 20px;">
        <div class="col-md-11"></div>
        <div class="col-md-1">
            <a href="#" class="btn btn-primary right" routerLink='addvacancy'>Add New Vacancy</a>
        </div>
    </div>
</div>







<!-- Available vacancies -->

<div class="container available-vacancies">

    <div class="row">
        <div class="col-md-11">
            <h3>
                <i class="fa fa-suitcase"></i>Available Vacancies</h3>
        </div>
    </div>
    <div class="container vacancy">

        <div class="row">
            <div class="form-group">
                <div class="col-md-6 col-md-offset-6 col-sm-6 col-sm-offset-6">
                    <input type="search" name="" class="form-control" value="" title="" placeholder="Search">
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-md-6 col-sm-6 col-xs-12" id="1">
                <div class="feature-box secundary">
                    <a class="right">
                        <i class="fa fa-trash" aria-hidden="true" data-id="1"></i>
                    </a>
                    <a class="thumb-info lightbox right" routerLink='detailsvacancy/1' data-plugin-options='{"type":"inline", preloader: false}' data-toggle="tooltip"
                        data-placement="top" title="more info">
                        <i class="fa fa-info"></i>
                    </a>
                    <a class="thumb-info lightbox right" href="#popupProject" data-plugin-options='{"type":"inline", preloader: false}' data-toggle="tooltip"
                        data-placement="top" title="edit">
                        <i class="fa fa-pencil"></i>
                    </a>

                    <div class="feature-box-icon">
                        <img src="../../../assets/img/ITWORX.jpg" alt="">
                    </div>
                    <div class="feature-box-info">
                        <a href="index-2.html">
                            <h4 class="shorter">Software Engineer</h4>
                        </a>
                        <h6 class="short">Egypt</h6>
                        <p class="short">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <p class="short">posted 2 days ago</p>

                    </div>
                </div>

            </div>


            <div class="col-md-6 col-sm-6 col-xs-12" id="2">
                <div class="feature-box secundary">
                    <a class="right">
                        <i class="fa fa-trash" aria-hidden="true" data-id="1"></i>
                    </a>
                    <a class="thumb-info lightbox right" href="#popupProject" data-plugin-options='{"type":"inline", preloader: false}' data-toggle="tooltip"
                        data-placement="top" title="more info">
                        <i class="fa fa-info"></i>
                    </a>
                    <a class="thumb-info lightbox right" href="#popupProject" data-plugin-options='{"type":"inline", preloader: false}' data-toggle="tooltip"
                        data-placement="top" title="edit">
                        <i class="fa fa-pencil"></i>
                    </a>
                    <div class="feature-box-icon">
                        <img src="../../../assets/img/ITWORX.jpg" alt="">
                    </div>
                    <div class="feature-box-info">
                        <a href="index-2.html">
                            <h4 class="shorter">Software Engineer</h4>
                        </a>
                        <h6 class="short">USA</h6>
                        <p class="short">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <p class="short">posted 2 days ago</p>
                    </div>
                </div>
            </div>

        </div>

        <div class="row" id="tabs-1">

            <div class="col-md-6 col-sm-6 col-xs-12" id="4">
                <div class="feature-box secundary">
                    <a class="right">
                        <i class="fa fa-trash" aria-hidden="true" data-id="1"></i>
                    </a>
                    <a class="thumb-info lightbox right" href="#popupProject" data-plugin-options='{"type":"inline", preloader: false}' data-toggle="tooltip"
                        data-placement="top" title="more info">
                        <i class="fa fa-info"></i>
                    </a>
                    <a class="thumb-info lightbox right" href="#popupProject" data-plugin-options='{"type":"inline", preloader: false}' data-toggle="tooltip"
                        data-placement="top" title="edit">
                        <i class="fa fa-pencil"></i>
                    </a>
                    <div class="feature-box-icon">
                        <img src="../../../assets/img/ITWORX.jpg" alt="">
                    </div>

                    <div class="feature-box-info">
                        <a href="index-2.html">
                            <h4 class="shorter">Software Engineer</h4>
                        </a>

                        <p class="short">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <p class="short">posted 2 days ago</p>
                    </div>

                </div>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-12" id="5">
                <div class="feature-box secundary">
                    <a class="right">
                        <i class="fa fa-trash" aria-hidden="true" data-id="1"></i>
                    </a>
                    <a class="thumb-info lightbox right" href="#popupProject" data-plugin-options='{"type":"inline", preloader: false}' data-toggle="tooltip"
                        data-placement="top" title="more info">
                        <i class="fa fa-info"></i>
                    </a>
                    <a class="thumb-info lightbox right" href="#popupProject" data-plugin-options='{"type":"inline", preloader: false}' data-toggle="tooltip"
                        data-placement="top" title="edit">
                        <i class="fa fa-pencil"></i>
                    </a>
                    <div class="feature-box-icon">
                        <img src="../../../assets/img/ITWORX.jpg" alt="">
                    </div>
                    <div class="feature-box-info">
                        <a href="index-2.html">
                            <h4 class="shorter">Software Engineer</h4>
                        </a>

                        <p class="short">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <p class="short">posted 2 days ago</p>
                    </div>
                </div>
            </div>

        </div>

        <div class="row" id="tabs-2">

            <div class="col-md-6 col-sm-6 col-xs-12" id="1">
                <div class="feature-box secundary">
                    <a class="right">
                        <i class="fa fa-trash" aria-hidden="true" data-id="1"></i>
                    </a>
                    <a class="thumb-info lightbox right" href="#popupProject" data-plugin-options='{"type":"inline", preloader: false}' data-toggle="tooltip"
                        data-placement="top" title="more info">
                        <i class="fa fa-info"></i>
                    </a>
                    <a class="thumb-info lightbox right" href="#popupProject" data-plugin-options='{"type":"inline", preloader: false}' data-toggle="tooltip"
                        data-placement="top" title="edit">
                        <i class="fa fa-pencil"></i>
                    </a>
                    <div class="feature-box-icon">
                        <img src="../../../assets/img/ITWORX.jpg" alt="">
                    </div>
                    <div class="feature-box-info">
                        <a href="index-2.html">
                            <h4 class="shorter">Hardware Engineer</h4>
                        </a>
                        <h6 class="short">Egypt</h6>
                        <p class="short">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <p class="short">posted 2 days ago</p>

                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-12" id="2">
                <div class="feature-box secundary">
                    <a class="right">
                        <i class="fa fa-trash" aria-hidden="true" data-id="1"></i>
                    </a>
                    <a class="thumb-info lightbox right" href="#popupProject" data-plugin-options='{"type":"inline", preloader: false}' data-toggle="tooltip"
                        data-placement="top" title="more info">
                        <i class="fa fa-info"></i>
                    </a>
                    <a class="thumb-info lightbox right" href="#popupProject" data-plugin-options='{"type":"inline", preloader: false}' data-toggle="tooltip"
                        data-placement="top" title="edit">
                        <i class="fa fa-pencil"></i>
                    </a>
                    <div class="feature-box-icon">
                        <img src="../../../assets/img/ITWORX.jpg" alt="">
                    </div>
                    <div class="feature-box-info">
                        <a href="index-2.html">
                            <h4 class="shorter">Software Engineer</h4>
                        </a>
                        <h6 class="short">USA</h6>
                        <p class="short">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <p class="short">posted 2 days ago</p>
                    </div>
                </div>
            </div>

        </div>

        <!-- <div class="row">
            <div class="col-md-8 center">
                <ul class="pagination moveTocenter">
                    <li>
                        <a href="#">
                            <i class="fa fa-chevron-left"></i>
                        </a>
                    </li>
                    <li class="">
                        <a href="#tabs-1">1</a>
                    </li>
                    <li>
                        <a href="#tabs-2">2</a>
                    </li>
                    <li>
                        <a href="#tabs-3">3</a>
                    </li>
                    <li>
                        <a href="#">4</a>
                    </li>
                    <li>
                        <a href="#">5</a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-chevron-right"></i>
                        </a>
                    </li>
                </ul>

            </div>
        </div> -->

    </div>
</div>