<section class="page-top">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h1>Vacancies</h1>
            </div>
        </div>
    </div>
</section>
<div class="row">
    <div class="col-md-6 col-md-offset-3" >
        <form method="post">
            <div  class="text-danger"></div>
            <div class="form-group">
                <label for="Vacancy.Posted_date" class="control-label">Posted date</label>
                <input type="date" name="VacancyPosted_date" class="form-control" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Vacancy.FK_Level_Id" class="control-label">Vacancy Level</label>
                <select name="VacancyFK_Level_Id" class="form-control" >
                      <option value="Entry">Entry Level</option>
                      <option value="Mid">Mid Level</option>
                </select>
            </div>
            <div class="form-group">
                <label for="VacancySalary" class="control-label">Salary</label>
                <input name="VacancySalary" class="form-control" type="number"/>
                <span  class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Vacancy.FK_Currency_Id" class="control-label">Currency Type</label>
                <select name="VacancyFK_Currency_Id" class="form-control" name="Currency" >
                      <option value="LE">LE</option>
                      <option value="EUR">EUR</option>
                </select>
            </div>
          
            <div class="form-group">
                <label for="Vacancy.EnterpriseSmallLogo" class="control-label">EnterpriseSmallLogo</label>
                <input name="VacancyEnterpriseSmallLogo" class="form-control" type="file" />
                <span  class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="VacancyEnterpriseBigLogo" class="control-label">EnterpriseBigLogo</label>
                <input name="VacancyEnterpriseBigLogo" class="form-control"  type="file"/>
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Vacancy" class="control-label">Location</label>
                <select for="VLocation" class="form-control" name="VLocation" >
                      <option value="SmartVillage">Smart Village</option>
                      <option value="NaserCity">Naser City</option>
                      <option value="Maadi">Maadi</option>
                </select>
            </div>
          
            <div class="form-group">
                <label for="VacancyFK_VacancyType_Id" class="control-label">Vacancy Type </label>
                <select for="VacancyFK_VacancyType_Id" class="form-control" name="VType">
                      <option value="full">Full Time</option>
                      <option value="part">Part Time</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
  </div>
  