<div role="main" class="main">


  <div class=" boxpadding">
      
    <!-- <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-4">

          </div>
          <div class="boxpadding col-md-4">
            <div class="feature-box secundary">
              <div class="feature-box-icon">
                <i class="fa fa-binoculars"></i>
              </div>
              <div class="feature-box-info">
                <h4 class="shorter">Find Your
                  <span class="alternative-font">Career</span> Path </h4>
                <p class="tall">out of x available paths </p>
              </div>
            </div>
            <div class="feature-box secundary">
              <div class="feature-box-icon">
                <i class="fa fa-book"></i>
              </div>
              <div class="feature-box-info">
                <h4 class="shorter">Make your
                  <span class="alternative-font">preparations </span>
                </h4>
                <p class="tall">by skilling up on required skills </p>
              </div>
            </div>
            <div class="feature-box secundary">
              <div class="feature-box-icon">
                <i class="fa fa-briefcase"></i>
              </div>
              <div class="feature-box-info">
                <h4 class="shorter">Size the
                  <span class="alternative-font">opportunity</span>
                </h4>
                <p class="tall">from Y available job and internship openeings </p>
              </div>
            </div>
            <div class="feature-box secundary">
              <div class="col-md-6">

                <input type="button" routerLink = "/signUp" value="Sign Up" class="btn btn-primary pull-right push-bottom" data-loading-text="Loading...">
              </div>
            </div>
          </div>
          <div class="col-md-4">

          </div>
        </div>
      </div>
    </div> -->

     <!-- <div class="slider-container">
      <div class="boxpadding slider" id="revolutionSlider" data-plugin-revolution-slider data-plugin-options='{"startheight": 500}'>
        <ul>
          <li data-transition="fade" data-slotamount="13" data-masterspeed="300">

            <img src="img/slides/slide-bg.jpg" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
            <div class="tp-caption sft stb visible-lg" data-x="350" data-y="180" data-speed="1500" data-start="1000" data-easing="easeOutExpo">
              <img src="img/slides/slide-title-border.png" alt="">
            </div>

            <div class="tp-caption top-label lfl stl" data-x="400" data-y="180" data-speed="2000" data-start="500" data-easing="easeOutExpo">Sucess Always Comes When</div>

            <div class="tp-caption sft stb visible-lg" id="orange" data-x="720" data-y="180" data-speed="1500" data-start="1000" data-easing="easeOutExpo">
              <img src="img/slides/slide-title-border.png" alt="">
            </div>

            <div class="tp-caption main-label sft stb" data-x="75" data-y="250" data-speed="2000" data-start="1000" data-easing="easeOutExpo">Preparation</div>

            <div class="tp-caption top-label lfl stl" data-x="500" data-y="270" data-speed="1000" data-start="1500" data-easing="easeOutExpo">meets</div>

            <div class="tp-caption main-label sft stb" data-x="625" data-y="250" data-speed="2000" data-start="1800" data-easing="easeOutExpo">Opportunity</div>
          </li>
          <li data-transition="fade" data-slotamount="5" data-masterspeed="1000">

            <img src="img/slides/slide-bg.jpg" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

            <div class="tp-caption sft stb" data-x="35" data-y="100" data-speed="600" data-start="100" data-easing="easeOutExpo">
              <img src="img/slides/slide-concept.png" alt="">
            </div>

            <div class="tp-caption main-label sft stb" data-x="485" data-y="190" data-speed="600" data-start="900" data-easing="easeOutExpo">Find your career path</div>

            <div class="tp-caption bottom-label sft stb" data-x="485" data-y="300" data-speed="550" data-start="1500" data-easing="easeOutExpo">out of X available paths</div>

          </li>
          <li data-transition="fade" data-slotamount="5" data-masterspeed="1000">

            <img src="img/slides/slide-bg.jpg" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

            <div class="tp-caption sft stb" data-x="35" data-y="100" data-speed="600" data-start="100" data-easing="easeOutExpo">
              <img src="img/slides/slide-concept.png" alt="">
            </div>

            <div class="tp-caption main-label sft stb" data-x="485" data-y="190" data-speed="600" data-start="900" data-easing="easeOutExpo">Make your Preparations</div>

            <div class="tp-caption bottom-label sft stb" data-x="485" data-y="300" data-speed="550" data-start="1500" data-easing="easeOutExpo">by skilling up on reqiured skills</div>

          </li>
          <li data-transition="fade" data-slotamount="5" data-masterspeed="1000">

            <img src="img/slides/slide-bg.jpg" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

            <div class="tp-caption sft stb" data-x="35" data-y="100" data-speed="600" data-start="100" data-easing="easeOutExpo">
              <img src="img/slides/slide-concept.png" alt="">
            </div>

            <div class="tp-caption main-label sft stb" data-x="485" data-y="190" data-speed="600" data-start="900" data-easing="easeOutExpo">Seize the Opportunity</div>

            <div class="tp-caption bottom-label sft stb" data-x="485" data-y="300" data-speed="550" data-start="1500" data-easing="easeOutExpo">from Y available job and internship openings</div>

          </li>
        </ul>
      </div>
    </div>  -->
    <div class="container">
    <div class="row">
    <ngb-carousel>
      <ng-template ngbSlide>
        <img src="../../assets/img/slides/slide-1.jpg" alt="Random first slide">
        <div class="carousel-caption">
          <h3>10 seconds between slides... Slide One</h3>
          <p>This carousel uses customized default values.</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img src="../../assets/img/slides/slide-2.jpg"  alt="Random second slide">
        <div class="carousel-caption">
          <h3>No keyboard... Slide Two</h3>
          <p>This carousel uses customized default values.</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img src="../../assets/img/slides/slide-3.jpg" alt="Random third slide">
        <div class="carousel-caption">
          <h3>And no wrap after last slide. Slide Three</h3>
          <p>This carousel uses customized default values.</p>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
</div>
     <!-- <carousel >
      <slide>
        <img src="../../assets/img/slides/slide-1.jpg" alt="first slide" style="display: block; width: 100%;">
        
        </slide>
      <slide>
        <img src="../../assets/img/slides/slide-2.jpg" alt="second slide" style="display: block; width: 100%;">
      </slide>
      <slide>
        <img src="../../assets/img/slides/slide-1.jpg" alt="third slide" style="display: block; width: 100%;">
      </slide>
    </carousel>  -->
  </div>
</div>
<br>
<br>-
<!-- <div class="container">
  <div class="row">

    <div class="col-md-12">
      <div class="row">
        <div class="col-md-4">
          <div class="feature-box secundary">
            <div class="feature-box-icon">
              <i class="fa  fa-building-o"></i>
            </div>
            <div class="feature-box-info">
              <h4 class="shorter">X </h4>
              <p class="tall">Available Companies
                <br> and Schools </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="feature-box secundary">
            <div class="feature-box-icon">
              <i class="fa fa-briefcase"></i>
            </div>
            <div class="feature-box-info">
              <h4 class="shorter">Y </h4>
              <p class="tall">Available Job Vacancies
                <br> and Internships </p>
            </div>
          </div>


        </div>
        <div class="col-md-4">
          <div class="feature-box secundary">
            <div class="feature-box-icon">
              <i class="fa  fa-group (alias)"></i>
            </div>
            <div class="feature-box-info">
              <h4 class="shorter">Z </h4>
              <p class="tall">Accepted Job and Internship
                <br> Applicants </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="container">
  <div class="row center counters dark">
      <div class="col-md-4 col-sm-6">
          <i class="fa fa-building"></i>
          <strong data-to="1000">0</strong>
          <label>Available Companies and Schools</label>
      </div>
      <div class="col-md-4 col-sm-6">
          <i class="fa fa-users"></i>                        
          <strong data-to="13000" data-append="+">0</strong>
          <label>Accepted Applicants</label>
      </div>
      <div class="col-md-4 col-sm-6">
          <i class="fa fa-briefcase"></i>                        
          <strong data-to="15000">0</strong>
          <label>Available Vacancies</label>
      </div>
  </div>
</div>

<br>
<br>
<br>
<div class="container">
  <div class="row">

    <div class="col-md-12">
      <div class="row">
        <div class="col-md-6">
          <div class="feature-box secundary">
            <div class="feature-box-icon">
              <i class="fa  fa-building-o"></i>
            </div>
            <div class="feature-box-info">
              <input type="text" class="form-control" name="q" id="q" placeholder="Search available jobs, companies or job fairs...">
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="feature-box secundary">

            <div class="feature-box-info">
              <div class="input-group input-search">
                <input type="text" class="form-control" name="q" id="q" placeholder="Select City, Country...">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="submit">
                    <i class="fa fa-search"></i>
                  </button>
                </span>
              </div>

            </div>

          </div>


        </div>

      </div>
    </div>
  </div>
</div>
<br>
<br>
<div class="container">
  <div class="row">
    <h4 class="dark">Companies LOGO</h4>



    <div class="owl-carousel" data-plugin-options='{"items": 3, "autoplay": true, "autoplayTimeout": 3000}'>
      <app-companylogoitem *ngFor="let item of companylogoitems" [companylogoitem]="item"></app-companylogoitem>

    </div>
  </div>
</div>

<br>
<br>

<div class="container">
  <div class="row">
    <div class="row featured-boxes">

      <app-servicesitem *ngFor="let item of servicessitem" [servieitem]="item"></app-servicesitem>

    </div>
  </div>
</div>
<br>
<br>

<div class="container">
  <div class="row">

    <h4 class="dark">Latest Job Offers</h4>
    <div class="row center counters dark">



      <div class="owl-carousel" data-plugin-options='{"items": 3, "autoplay": true, "autoplayTimeout": 3000}'>

        <app-jobofferitem *ngFor="let item of jobofferitems" [jobofferitem]="item"></app-jobofferitem>

      </div>
    </div>
  </div>
</div>
<br>
<br>