
  #large-content
  {
    min-height: 250px;
  }
   .right
  {
    float: right;
  }
  .modal-cancle
  {
    margin-right: 2%;
    background-color: rgb(180, 180, 180);
    border: 1px solid rgb(180, 180, 180);
  }
  .center
  {
    margin-left : 15%;
  }
  .visually-hidden
  {
    display: block;
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
  .photo-list img
  {
    float: left;
    
  
 }
 .photo-list i
 {
   color : black;
 }
 .feature-box-icon img
 {
   width: 60px;
   margin-top: 20px;
   margin-left : -10px;
 }

 .container .feature-box .feature-box-info h4
 {
   color: #0088cc;
 }

 .container .feature-box .feature-box-info a+p ,.container .feature-box .feature-box-info > p+p~p
 {
   color: black;
   
 }

 .container .feature-box .feature-box-info > p+p~p
 {
   font-size: 12px;
 }
 #ago
 {
   color: #777777;
 }

 .feature-box i
 {
   margin-right : 20px;
   font-size : 15px;
   cursor: pointer;
 }

 

 .big_font
 {
   font-size : 35px;
   margin-bottom:  2%;
 }

 .left
 {
   float: left;
 }



 .available-vacancies
 {
   margin-top : 4%;
 }

 .available-vacancies .vacancy
 {
  margin-top: 2%;
 }

 .available-vacancies .team-list .vacancy .thumb-info .thumb-info-title
 {
   font-size : 14px;
 }

 .available-vacancies h3 
 {
  font-size: 1.8em;
  font-weight: 200;
  margin: 0 0 20px;
  text-transform: none;
  color:#444444;
 }
 .available-vacancies h3 i
 {
   margin-right : 10px;
 }

 .feature-box i
 {
   color: #0088cc;
   
 }

 .feature-box .info
 {
   display: inline-block;
 }

 .read-more-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height .5s ease;
}

.read-more-toggle {
  display: none;
 
}

.read-more-toggle-label {
  display: inline-block;
  user-select: none;
  cursor: pointer;
  padding: 5px;
  font-size: .9em;
  color: #0088cc;
 
}

.seeMore
{
  font-size: 15px;
  color: #0088cc;
  text-align: center;
}

.seeMore .less
{
  display: none;
}



.read-more-toggle-label:after {
  content: "More";
  display: inline-block;
}



.read-more-toggle:checked + .read-more-content {
  display: block;
  max-height: 1000px;
}

.read-more-toggle:checked + .read-more-content + .seeMore .read-more-toggle-label:after {
  content: "Less";
}

.read-more-toggle:checked~.seeMore .less
{
  display: inline-block;
}

.read-more-toggle:checked~.seeMore .more
{
  display: none;
}

.read-more-content .counter strong
{
  margin-top: 0px;
}



.enterprise-view-one .des .featured-box
{
  text-align: left;
  min-height : 150px !important;
}
.enterprise-view-one .des .featured-box .box-content
{
  border-top: 3px solid #0088cc;
}

.featured-box .box-content
{
  padding: 0px 30px 10px 30px;
}

ul.comments .comment-arrow
{
  border-right: 15px solid #ebebe0;
}
ul.comments .comment-block
{
  background: #ebebe0;
}
ul.comments .comment-block
{
  color: #2e353e;
}

ul.comments .comment-block strong
{
  color: #0088cc ;
}
.post-block
{
  border-top: none;
  
}

.post-block h3
{
  color: #444444;
}

.main .container .clearfix
{
    display : block;
}

.clearfix .sidebar {
    margin-left: 10%;
}

.clearfix .sidebar h6
{
  color : #0088cc ;
}
.vl {
  border-left: 1px solid #bcbcbcc4;
  height: 370px;
  position: absolute;
  left: 5%;
  margin-left: -3px;
  top: 0;
}



/* ---------------------------------------------------------------------------------------------------------------------------------------- */

/* ------------------------------------------------------------------------------------------------ */
 @media screen and (max-width : 470px)
 {
   .feature-box
   {
     
     border-bottom: 0.5px solid #cfcfcf;
   }
.enterprise-view-one .portfolio-item
{
  margin-top: 0px;
  margin-left : 22%;
  
}

.thumb-info img
{
  width : 200px;
}
 }
/* 
-----------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------- */


.vacancy-filter{
  margin-top:30px;
}

.filter-col{
  padding-left:10px;
  padding-right:10px;
}

.icon-featured
{
  line-height: 53px;
  width: 50px;
  height: 52px;
  font-size: 30px;
 text-align: center;
  margin-top : -0.5px;

} 

.business-card .icon-featured-1
{
    background-color: #2baab1;
}
.business-card .icon-featured-2
{
    background-color: #e36159;
}
.business-card .icon-featured-3
{
    background-color: #734ba9;
}
.business-card {
    border: 1px solid #cccccc;
    background: #f8f8f8;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
    height: 100px;
    margin-left : 0px;
  
  }
  
  .b1
  {
      border-left: 5px #2baab1 solid;
  }
  
  .b2
  {
      border-left: 5px  #e36159 solid;
  }
 .b3
  {
      border-left: 5px  #734ba9 solid;
  }
.business-card .media-body h4, .business-card .media-body h6
{
    color: #444444;
    
}








a h4{
  color: blue
}
/* 
.row >div.col-md-6{
  margin-bottom: 30px
} */

div h3{
  color: black
}




.feature-box.secundary.bordered {
  border: 1.1px solid lightgrey;
  border-radius: 10px;
  padding: 16px 0px 0px 20px;
}
.info.counters {
  margin-top: -10px;
}
.counters .fa {
  display: block;
  font-size: 22px;
  line-height: 0px;
  margin-bottom: 5px;
}

.counters strong {
  display: block;
  font-weight: 600;
  font-size: 19px;
  line-height: 30px;
}