<!-- <div class="row">
    <div class="col-md-4 left search">
        <aside class="sidebar">
            <form method="POST" role="form" (ngSubmit) = "OnSearchSubmit(searchForm)" #searchForm = ngForm>
                <div class="input-group input-group-lg">
                    <input class="form-control" placeholder="Search..." name="s" id="s" type="text" [(ngModel)] = searchWord>
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-primary">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </form>
        </aside>
    </div>
</div> -->